<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <button id="generate-button">Get Image</button>
        <div id="message">Press the button to generate an image.</div>
        <div id="image-list"></div>
    </div>
</body>
<script src="{{ url_for('static',filename='script.js')}}"></script>
</html>
